# This file accidentally mixes flavors after a refactor

allow perm=open uid=0 : all

# Forgot to convert this legacy line below

deny uid=1000 exe=/bin/sh path=/bin/sh
