deny perm=any uid=1000 path=/etc/shadow
deny perm=any uid=1000 path=/etc/sudoers
allow perm=open all : all
allow perm=any uid=0 exe_dir=/usr/bin/ path=/usr/bin/
