%mimes=application/x-executable,application/x-sharedlib
allow perm=execute exe=/usr/sbin/foo : ftype=%mimes filehash=89abcdef0123456789abcdef0123456789abcdef0123456789abcdef01234567
